certifi==2022.12.7
cycler==0.10.0
joblib==0.17.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1604322292766/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1605180236495/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1604945996870/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.1.4
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1604748703602/work
pycairo==1.20.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1604321279890/work
reportlab==3.5.55
scikit-learn==0.23.2
scipy==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1602547021881/work
threadpoolctl==2.1.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1604105020806/work
